{% extends 'backoffice/layout.html.twig' %}
{% block title %}Title{% endblock %}

{% block content_back %}

<div class="container-fluid">
	<h1>Page d'accueil</h1>
</div>

{% endblock %}

{% block additional_css %}

{{ parent() }}

{% endblock %}